
<script type="text/html" id="template-inputs-view">
    <div id="prev-input"> 
        <img width="30px" height="30px" src="{{ asset('default/images/previous_page.png') }}">
    </div>    
    <div class="row">
        <% _.each(models, function(input) { %>

            <div id="input-<%= input.attributes.id %>" class="input-item large-12 columns">
                <div class="row"> 
                    <div class="input-quote large-11 columns"> 
                        " <%= input.attributes.input_quote_mini %> "
                    </div>
            
                    <div class="large-1 columns"> 
                        <a id="close-reveal-input" class="right"> X </a>
                    </div>
                </div>
                <div class="row">
                    <% if(input.attributes.type == 0) { %>
                    <div class="input-right-column large-12 columns">
                        <div class="row">
                            <div class="large-1 columns">
                                <img width="100%" src="{{ asset('readers/images/') }}<%= input.attributes.reader_image %>">
                            </div>
                            <div class="large-11 columns">
                                <div class="row">
                                    <div class="input-user  large-12 columns">
                                        <%= input.attributes.reader_name %>
                                    </div>
                                </div>
                                <div class="input-date row">
                                    <div class="large-12 columns">
                                        <%= input.attributes.input_date.date %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="input-comment large-11 push-1 columns">
                                <%= input.attributes.comment %>
                            </div>
                        </div>
                    </div>
                    <% } else { %>
                    <div class="input-media large-6 columns"> 
                        <% if(input.attributes.type == 1) { %> 
                        <img src="{{ asset('inputs/files/') }}<%= input.attributes.source %>" />
                        <% } else if (input.attributes.type == 2) { %>
                        <video width="475" controls>
                            <source src="{{ asset('inputs/files/') }}<%= input.attributes.source %>" type="video/mp4">
                        </video>
                        <% } %>
                    </div>
                    <div class="input-right-column large-6 columns">
                        <div class="input-comment row collapse">
                            <div class="large-1 columns">
                                <img width="30" height="30" src="{{ asset('readers/images/') }}<%= input.attributes.reader_image %>"> 
                            </div>

                            <div class=" large-11 columns">
                                <span class="reader-name"> <%= input.attributes.reader_name %> </span> <%= input.attributes.comment %> 
                            </div>
                        </div>

                        <div class="row collapse">
                            <div id="input-<%= input.attributes.id %>-replies" class="input-replies large-12 columns">

                            </div>
                        </div>
                        <div class="new-reply-form">
                            <form id="input-<%= input.attributes.id %>-reply-form" action="javascript:null">
                                <div class="row collapse">

                                    <div class="input-replies large-12 columns">
                                        <textarea> </textarea>
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="input-replies large-12 columns">
                                        <button class="reply-send-button small right" data-idinput="<%= input.attributes.id %>" > Enviar </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <% }  %> 
                </div>
            </div>
            <% }); %>
    </div>
    <div id="next-input">
        <img width="30px" height="30px" src="{{ asset('default/images/next_page.png') }}">
    </div>

</script>

<script type="text/html" id="template-input-reply">
    <div class="input-reply">
            <div class="row collapse">
                <div class=" large-1 columns">
                    <img width= "75%" src="{{ asset('readers/images/') }}<%= reader_image %>"> 
                    
                </div>
                <div class="large-11 columns"> <span class="reader-name"><%= reader_name %> </span> <%= comment %>  </div>
            </div>
       </div>
</script>

<script type="text/html" id="template-input-replies">
    <% _.each(models, function(reply){ %>
        <div class="input-reply">
            <div class="row collapse">
                <div class=" large-1 columns">
                    <img width= "30px" src="{{ asset('readers/images/') }}<%= reply.attributes.reader_image %>"> 
                    
                </div>
                <div class="large-11 columns"> <span class="reader-name"><%= reply.attributes.reader_name %> </span> <%= reply.attributes.comment %>  </div>
            </div>
       </div>
   <% }); %>
   
   
</script>


