<div id="fb-root"></div>
<div id="login-page">

<div class="row"> 
    <div id="login-user" class="large-4 large-centered columns"> 
    
    </div>
</div>

<div class="row"> 
    <div id="login-user" class="large-4 large-centered columns"> 
    </div>
</div>

<div class="row"> 
    <div id="save-user" class="large-4 large-centered columns"> 
    
    </div>
</div>
    
</div>


<script type="text/html" id="template-user-menu">
    <a href="#"> 
        <% if(isFacebook == true) { %>
            <img width="20px" height="20px" src="<%= image %>"/> <span id="user-name-menu"><%= name %></span>
        <% } else { %>
            <img id="user-image-menu" width="20px" height="20px" src="{{asset('readers/')}}images/<%= image %>"/> <span><%= name %></span>
        <% } %>
    </a>

    <ul class="dropdown">
        <li id="go-to-library"><a >mi biblioteca</a></li>
        <li class="divider"></li>
        <li id="go-to-library"><a >mi perfil</a></li>
        <li class="divider"></li>
        <li id="go-to-account"><a >mi cuenta</a></li>
        <li class="divider"></li>
        <li id="close-session"><a href="#">Cerrar sesión</a></li>
    </ul>
</script>

<script type="text/html" id="template-not-user-menu">
    <a href="{{url('readroom_home_homepage')}}#login"> Iniciar sesión</a>
    
</script>


<script type="text/html" id="template-login"> 
        <form id="user-login-form" action="javascript:null">
            <div class="row">
                <div class="large-12 columns">
                    <h3> Inicia sesión </h3>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <a id="login-with-facebook" class="button small" > Login Facebook </a> 
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="text" name="userMail" placeholder="e-mail" /> 
                </div>
            </div>
            <div class="row collapse">
                <div class="large-9 columns">
                    <input type="password" name="userPassword" placeholder="Contraseña" />
                </div>
                
                <div class="large-3 columns">
                    <button id="user-login-submit" class="small button right"> Enviar </button>
                </div>
            </div>
            <div class="row">
                <div id="login-form-submit-info" class="user-form-submit-info large-12 columns"></div>
            </div>
        </form>
</script>

<script type="text/html" id="template-save-user"> 
        <form id="user-save-form" action="javascript:null">
            <div class="row">
                <div class="large-12 columns">
                    <h3> Regístrate </h3>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="text" name="userMail" placeholder="e-mail" /> 
                </div>
            </div>
            <div class="row collapse">
                <div class="large-9 columns">
                    <input type="password" name="userPassword" placeholder="Contraseña" />
                </div>
                
                <div class="large-3 columns">
                    <button id="user-login-submit" class="small button right"> Enviar </button>
                </div>
            </div>
            <div class="row">
                <div id="login-form-submit-info" class="user-form-submit-info large-12 columns"></div>
            </div>
        </form>
</script>

<div>
    <div class="row">
        <div id="account-page" class="large-5 large-centered columns">

        </div>
    </div>
</div>

<script type="text/html" id="template-account">
    <form id="image-account-form" action="javascript:null">
            <div class="row">
                <div class="large-12 columns">
                    <h3> Tu cuenta: </h3>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <h4> Imagen: </h4>
                </div>
            </div>
            <% if(isFacebook == false) { %>
                <div class="row">
                    <div class="large-3 columns">
                        <img id="preview-image-account" src="{{asset('readers/')}}images/<%= image %>" />
                    </div>
                    <div class="large-9 columns"> 
                        <input style="color: white" id="account-image" class="file" type="file" name="archivos" multiple="multiple" />
                    </div>
                </div>
            <% } %>
            <div class="row">
                <div id="loading-account-image" class="large-9 columns" style="display: none;"> 
                        <img class="right" src="{{ asset('default/images/loader.gif') }}"/>
                </div>
                <div class="large-3 columns right">
                    <button id="user-login-submit right" class="small button right"> Enviar </button>
                </div>
            </div>
    </form>
     <form id="user-account-form" action="javascript:null">
            <div class="row">
                <div class="large-12 columns">
                    <h4> Datos personales: </h4>
                </div>
            </div>
            
            <div class="row">
                <div class="large-12 columns">
                    <input type="text" name="userName" placeholder="Nombre" value="<%= name %>" /> 
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="text" name="userMail" placeholder="e-mail" value="<%= mail %>"/> 
                </div>
            </div>
            <div class="row">
                <div id="loading-account-1" class="large-9 columns" style="display: none;"> 
                        <img class="right" src="{{ asset('default/images/loader.gif') }}"/>
                </div>
                <div class="large-3 columns right">
                    <button id="user-login-submit right" class="small button right"> Enviar </button>
                </div>
            </div>
    </form>
    <form id="password-account-form" action="javascript:null">
            <div class="row">
                <div class="large-12 columns">
                    <h4> Contraseña: </h4>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input id="user-password-account" type="password" name="userPassword" placeholder="Contraseña actual" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input id="user-new-password" type="password" name="userNewPassword" placeholder="Contraseña nueva" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input id="user-new-password-repeat" type="password" name="userNewPasswordRepeat" placeholder="Repite contraseña" />
                </div>
            </div>
            <div class="row">
                <div id="loading-account-2" class="large-9 columns" style="display: none;"> 
                        <img class="right" src="{{ asset('default/images/loader.gif') }}"/>
                </div>
                <div class="large-9 columns">
                    <button id="user-login-submit right" class="small button right"> Enviar </button>
                </div>
            </div>
            <div class="row">
                <div id="login-form-submit-info" class="user-form-submit-info large-12 columns"></div>
            </div>
   </form>
</script>